extends layout

block content
  .hero.body-section
    .body-content
      .get-quote
        h1 GET A QUOTE
        h2 Get the container you have always wanted >>
      .welcome
        h1 Welcome Back
        .gap
          input(type='text', placeholder='Username')
        .gap
          input(type='text', placeholder='Password')
        .gap
          label
            input(type='checkbox')
            span Remember Me
        .gap
          button Sign in
  .get-started.body-section
    .body-content
      h1.ta-center GET STARTED
      .flex.flex-row
        .flex-hor
          .box
            .resource-library.box-grower
              img(src='/images/icon-resources.png')
          h2 RESOURCE LIBRARY
        .flex-hor
          .box
            .get-a-quote.box-grower
              img(src='/images/icon-quote.png')
          h2 GET A QUOTE
        .flex-hor
          .box
            .faq.box-grower
              img(src='/images/icon-faq.png')
          h2 FAQ
        .flex-hor
          .box
            .locations.box-grower
              img(src='/images/icon-location.png')
          h2 LOCATIONS
  .steps.body-section
    .body-content
      h1.ta-center THREE EASY STEPS
      .flex.flex-row
        .flex-hor.mw-300
          .step.step-1
            h1 OBTAIN A QUOTE
            img.right(src='/images/step-1-right.jpg')
        .flex-hor.mw-300
          .step.step-2
            h1 CHECK AVAILABILITY
            img.left(src='/images/step-2-left.jpg')
            img.right(src='/images/step-2-right.jpg')
        .flex-hor.mw-300
          .step.step-3
            h1 BOOK CONTAINERS
            img.left(src='/images/step-3-left.jpg')
  .news.body-section
    .body-content
      h1.ta-center LATEST NEWS
      .section
        .date 12/19/2016
        .event-table
          .event-cell To our valued ESI customers: Here are the holiday office hours for ESI: Friday 12/23…7am CST until 12 noon CST (Christmas Eve observed) Monday 12/26…closed (Christmas Day observed) Friday 12/30…7am CST until 12 noon CST (New Year’s Eve observed) Monday 1/2…closed (New Year’s Day observed)
      .section
        .date 12/19/2016
        .event-table
          .event-cell To our valued ESI customers: Here are the holiday office hours for ESI: Friday 12/23…7am CST until 12 noon CST (Christmas Eve observed) Monday 12/26…closed (Christmas Day observed) Friday 12/30…7am CST until 12 noon CST (New Year’s Eve observed) Monday 1/2…closed (New Year’s Day observed)
  .mission.body-section
    .body-content
      h1.ta-center MISSION STATEMENT
      .text To meet or exceed the expectations of our customers by providing an efficient, reliable, cost effective service while offering ESI employees growth opportunities and producing maximum growth and return for ESI shareholders.
      h1.ta-center ABOUT ESI
      .flex.flex-row
        .text-col.one
          | ESI was established in 1985 as a provider of transportation services specializing in ramp to ramp movements in stack train and conventional cars throughout the U.S. ESI is a wholly owned subsidiary of OOCL (USA), a major worldwide steamship line.
          br
          br
          | ESI manages the domestic repositioning program for OOCL and other steamship lines, providing empty equipment for domestic shipments. ESI maintains contracts with all the major rail carriers and as a full service transportation company offers ramp to ramp or door delivery services as required. ESI also can provide additional services such as chassis use, I.T. preparation, in-bond service and over the road transportation.
          br
          br
          | From the beginning ESI differed from other stack train operators as it was our aim to handle shipments from any transportation company
        .text-col.two
          | whether it was an ocean carrier, IMC, freight forwarder or NVOCC. Today our traffic volume is a mix of all these different type companies.
          br
          br
          | ESI’s operations are conducted on an IBM AS/400 computer utilizing customized transportation software. This programming allows ESI to handle many tasks including billing instructions to the railroads, direct interface to the rail computer for tracing and invoicing. ESI relies heavily on computer technology to maintain an efficient work force thereby offering the lowest, most competitive rates to our customers. This system also allows the customer to EDI shipping instructions to ESI thereby improving the efficiency of the customers’ operation as well. ESI is headquartered in Chicago, IL and has office representation in key cities throughout North America.
  .footer.body-section
    .body-content
      .flex.flex-row
        .col.one
          .bold Contact
          a(href='#') Operations / Customer Service
          a(href='#') Pricing / Sales
          a(href='#') Finance
          a(href='#') Express System Intermodal
        .col.two
          br
          .text 801 Warrenville Road, Suite 300, Lisle, IL 60532
          .bold 1-888-374-6625 | 630-645-9860
          img(src='/images/logo-footer.jpg', width='92')




