extends layout

block content
  .hero.body-section
    .body-content
      .get-quote
        h1 GET A QUOTE
        h2 Get the container you have always wanted >>
      .welcome
        h1 Welcome Back
        .gap
          input(type='text', placeholder='Username')
        .gap
          input(type='text', placeholder='Password')
        .gap
          label
            input(type='checkbox')
            span Remember Me
        .gap
          button Sign in
  .get-started.body-section
    .body-content
      h1.ta-center GET STARTED
      .flex.flex-row
        .flex-hor
          .resource-library.box
            img(src='/images/icon-resources.png')
          h2 RESOURCE LIBRARY
        .flex-hor
          .get-a-quote.box
            img(src='/images/icon-quote.png')
          h2 GET A QUOTE
        .flex-hor
          .faq.box
            img(src='/images/icon-faq.png')
          h2 FAQ
        .flex-hor
          .locations.box
            img(src='/images/icon-location.png')
          h2 LOCATIONS
  .steps.body-section
    h1.ta-center THREE EASY STEPS
    .flex.flex-row
      .flex-hor.mw-300
        .step.step-1
          img.right(src='/images/step-1-right.jpg')
      .flex-hor.mw-300
        .step.step-2
          img.left(src='/images/step-2-left.jpg')
          img.right(src='/images/step-2-right.jpg')
      .flex-hor.mw-300
        .step.step-3
          img.left(src='/images/step-3-left.jpg')


