doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="/font-awesome/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")

  body
    .header
      .body-content
        .btn-menu(onclick='toggleMenu()')
          i.fa.fa-bars
        .logo
          img(src='images/logo-small.png')
        .signin Sign in
        .search
          i.fa.fa-search
    block content
    .body-shield(onclick='toggleMenu()')
    .menu-col
      .contents
        ul.top-list
          li.top-level ABOUT US
          li.top-level SERVICES
          li.top-level DOMESTIC
          li.top-level INTERNATIONAL
      i.fa.fa-close(onclick='toggleMenu()')

    script(src='/jquery/dist/jquery.min.js')
    script(src='/javascripts/main.js')