@font-face {
  font-family: Gotham;
  src: url(./fonts/Gotham-Book.otf);
}

body {
  font: 14px "Gotham", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

input[type='text'] {
  padding: 0.5em;
  border-width: 1px;
  border-style: solid;
  border-color: #CCCCCC;
  font-size: 18px;
}

.ta-center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-hor {
  flex: 1;
}

.body-section {
  width: 100%;
  margin: 0;
  padding: 0;
}

.body-content {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

a {
  color: #00B7FF;
}

.header {
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 1000;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+34,0.85+61,0+100 */
  background-color: white;
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 34%, rgba(255,255,255,0.85) 61%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 34%,rgba(255,255,255,0.85) 61%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 34%,rgba(255,255,255,0.85) 61%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  transition: height 0.5s;
}

.header-scrolled {
  background: white;
  border-bottom: 2px solid #00bcb1;
  height: 62px;
}

.header .btn-menu {
  position: absolute;
  left: 5%;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.5s;
}

.header .logo {
  position: relative;
  margin: 12px auto;
  width: 110px;
  transition: all 0.5s;
}

.header.header-scrolled .logo {
  width: 75px;
}

.header.header-scrolled .btn-menu {
  top: 5px;
  font-size: 22px;
}

.logo img {
  width: 100%;
}

.header .signin {
  position: absolute;
  right: 15%;
  top: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.header .search {
  position: absolute;
  right: 5%;
  top: 15px;
  cursor: pointer;
  transition: all 0.5s;
}

.header.header-scrolled .signin,
.header.header-scrolled .search {
  top: 11px;
}

.hero {
  width: 100%;
  height: 500px;
  background: url('../images/containers.jpg') no-repeat left top;
  background-size: cover;
}

.hero .body-content {
  height: 100%;
}

.get-quote {
  position: absolute;
  width: 35%;
  bottom: 0;
  left: 10%;
  height: 50%;
  background: rgba(0,0,0,0.5);
  padding: 2em;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
}

.get-quote:hover {
  background: rgba(0,0,0,0.6);
}

.welcome {
  color: black;
  position: absolute;
  width: 25%;
  bottom: 10%;
  right: 10%;
  height: 50%;
  background: white;
  padding: 3em;
}

.welcome .gap {
  margin: 1em 0em;
  padding: 0;
  width: 100%;
}

.welcome h1 {
  margin: 0;
  padding: 0;
}

.welcome input[type='text'] {
  width: calc(100% - 1em);
}

.welcome button {
  padding: 0.5em;
  border-style: none;
  width: 100%;
  background: #ff5453;
  font-size: 20px;
  color: white;
  font-weight: 100;
}

.get-started {
  background-color: #fbf9f9;
  height: 330px;
  padding-top: 50px;
}

.get-started h1 {
  margin: 0;
  font-weight: 100;
  margin-bottom: 25px;
}

.get-started h2 {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
}

.get-started .box {
  position: relative;
  width: 125px;
  height: 125px;
  margin: 0 auto;
  padding: 25px;
  cursor: pointer;
}

.get-started .box .box-grower {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.25s;
}

.get-started .box .box-grower:hover {
  left: -8px;
  right: -8px;
  top: -8px;
  bottom: -8px;
}

.get-started .box .box-grower img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -62.5px;
  margin-top: -62.5px;
}

.get-started .resource-library {
  background-color: #00bcb1;
}

.get-started .get-a-quote {
  background-color: #ff5453;
}

.get-started .faq {
  background-color: #ff9d4c;
}

.get-started .locations {
  background-color: #2482af;
}

.mw-300 {
  min-width: 300px;
}

.steps {
  background-color: #f4f4f4;
  height: 270px;
  padding-top: 50px;
}

.steps h1 {
  margin: 0;
  font-weight: 100;
  margin-bottom: 25px;
}

.steps .step {
  position: relative;
  width: 80%;
  height: 150px;
  background: white;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.25s;
}

.step h1 {
  text-align: center;
  width: 78%;
  padding: 37px 11%;
  margin: 0;
}

.steps .step:hover {
  width: 85%;
}

.steps .step:hover h1 {
  color: #AAA;
}

.steps .step-1 {
  color: #ff9d4c;
  border-left: 2px solid #ff9d4c;
  border-top: 2px solid #ff9d4c;
  border-bottom: 2px solid #ff9d4c;
}

.steps .step-1 .right {
  position: absolute;
  right: -28px;
  top: -2px;
  height: 154px;
}

.steps .step-2 {
  color: #00bcb1;
  border-top: 2px solid #00bcb1;
  border-bottom: 2px solid #00bcb1;
}

.steps .step-2 .left {
  position: absolute;
  left: -28px;
  top: -2px;
  height: 154px;
}

.steps .step-2 .right {
  position: absolute;
  right: -28px;
  top: -2px;
  height: 154px;
}

.steps .step-3 {
  color: #ff5453;
  border-top: 2px solid #ff5453;
  border-right: 2px solid #ff5453;
  border-bottom: 2px solid #ff5453;
}

.steps .step-3 .left {
  position: absolute;
  left: -28px;
  top: -2px;
  height: 154px;
}

.news {
  background-color: #fbf9f9;
  border-bottom: 3px solid white;
  padding-bottom: 50px;
}

.news h1 {
  text-align: center;
  width: 78%;
  padding: 37px 11%;
  margin: 0;
  font-weight: 100;
  margin-bottom: 25px;
}

.news .section {
  position: relative;
  width: 100%;
  min-height: 100px;
  margin: 20px 100px;
}

.news .section .date {
  position: absolute;
  left: 0;
  top: 0;
  width: 110px;
  height: 110px;
  line-height: 100px;
  text-align: center;
  background-color: #ff5453;
}

.news .section .event-table {
  margin-left: 130px;
  display: table;
  height: 110px;
  width: calc(100% - 320px);
}

.news .section .event-cell {
  display: table-cell;
  color: #333;
  vertical-align: middle;
}

.mission {
  background-color: #f4f4f4;
  padding-bottom: 50px;
}

.mission .body-content {
  max-width: 850px;
}

.mission h1 {
  text-align: center;
  width: 78%;
  padding: 37px 11%;
  margin: 0;
  font-weight: 100;
  margin-bottom: 5px;
}

.mission .text {
  font-weight: 100;
  font-size: 14px;
  color: #777;
  line-height: 20px;
  letter-spacing: 2px;
}

.mission .text-col {
  font-weight: 100;
  font-size: 14px;
  color: #777;
  line-height: 20px;
  letter-spacing: 1.25px;
}

.mission .text-col.one {
  margin-right: 10px;
  width: 50%;
}

.mission .text-col.two {
  margin-left: 10px;
  width: 50%;
}

.footer {
  color: white;
  line-height: 24px;
  background-color: #2482af;
  height: 300px;
}

.footer .col {
  width: 50%;
  margin-top: 25px;
}

.footer .col a {
  margin-left: 10px;
  color: white;
  display: block;
  font-weight: 100;
}

.footer .col.one {

}

.footer .col.two {
  text-align: right;
}